* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e2ded3;
}

.heading__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #ff6d24;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 100%;
  text-align: center;
}

.translator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.translator__english {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-bottom: 30px;
}
.translator__english--heading {
  color: #4e413b;
  padding: 15px;
  font-size: 150%;
}
.translator__english--textarea {
  font-size: 120%;
  width: 600px;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .translator__english--textarea {
    width: 300px;
    height: 250px;
  }
}
.translator__morse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.translator__morse--heading {
  color: #4e413b;
  padding: 15px;
  font-size: 150%;
}
.translator__morse--buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.translator__morse--buttons-btn {
  background-color: #ff6d24;
  border-radius: 15px;
  width: 40px;
  height: 40px;
}
.translator__morse--textarea {
  font-size: 120%;
  width: 600px;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .translator__morse--textarea {
    width: 300px;
    height: 250px;
  }
}
